h1{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
    font-size: 60px;
    
}
body{
    background-color: black;
}
.margin{
    margin: 30px;
    line-height: 30px;
    font-style: italic;
    color: white;
}

.border {
    background-image: url(../img/photo-1630061937831-5b8bc0a58548.jpeg);
    background-repeat: no-repeat;
    background-position: left bottom;
    border: 1px;
    color: white;
    font-weight: 600;
    font-size: 30px;
    outline-width: 1px;
    outline-style: solid;
    outline-color: black;
    border-color: black;
    border-style: solid;
    text-align: center;
    padding: 150px;
    background-color: antiquewhite;

  
}
p{
    line-height: 1.5;
    font-weight: lighter;
    color: white
} 
a:link {
    color: white;
    font-style: italic;
}
a:visited{
    color:white;
}
a:hover{
    color: blue;
    font-weight: bold;
}
a:active{
    color: red;
}
